<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.olanboa.wxhost.mpper.CaseMapper">


    <insert id="addCaseItem"
            parameterType="com.olanboa.wxhost.bean.CaseDb"
            useGeneratedKeys="true"
            keyProperty="caseId">

          INSERT INTO cases(pic,title,shopId,state,time)   VALUES ("${casePic}","${caseTitle}" ,#{shopId},0,unix_timestamp())

    </insert>


    <select id="getCaseList" parameterType="java.lang.Integer"
            resultType="com.olanboa.wxhost.bean.httpresult.CaseItemResult">

        SELECT
        c.id caseId,
        c.pic pic,
        c.title title,
        c.time time,
        s.shopName shopName,
        s.address address,
        u.userName userName,
        u.phone phone
        FROM
        cases c
        LEFT JOIN shops s ON c.shopId = s.id
        LEFT JOIN `user` u ON u.id = s.hostid
        WHERE
        c.state = 0
        AND s.state = 0
        AND u.state = 0

        <if test="shopId != null">
            AND c.shopId = #{shopId}
        </if>
    </select>

</mapper>