<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.olanboa.wxhost.mpper.ExampleMapper">

    <insert id="addExample" parameterType="com.olanboa.wxhost.bean.ExampleDb" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO example(img,title,shopId,`time`) VALUES ("${imgPath}","${title}",#{shopId},UNIX_TIMESTAMP())

    </insert>

    <select id="getExampleList" resultType="com.olanboa.wxhost.bean.httpresult.ExampleRes">

				SELECT
					e.id caseId,
					e.img  imgPath,
					e.title title,
					e.time time,
					s.shopName shopName,
					s.address shopAddress,
					u.userName hostName,
					u.phone tel
				FROM
					example e
					LEFT JOIN shops s ON e.shopId = s.id
					LEFT JOIN  `user` u ON u.id = s.hostid
				WHERE s.state = 0 AND u.state = 0
    </select>


    <select id="getImgs" parameterType="java.lang.Integer" resultType="com.olanboa.wxhost.bean.ExampleImgDb">


 			select img from exampleImg where exampleId =#{caseId}

    </select>

</mapper>