<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.olanboa.wxhost.mpper.HomeMapper">

    <select id="getHomeInfo" parameterType="java.lang.String" resultType="com.olanboa.wxhost.bean.httpresult.HomeShopRes">
        SELECT
        b.id shopId,
        b.shopName shopName,
        b.address shopAddr,
        b.`desc` shopDes,
        b.imgs shopImg,
        a.userName hostName,
        a.phone hostTel
        FROM
        shops b,
        `user` a
        WHERE
        b.hostid = a.id
        AND a.state = 0
        AND b.state = 0
        <if test="province != null and province != ''">
            AND b.province LIKE CONCAT("%",#{province},"%")
        </if>
    </select>


</mapper>