<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.olanboa.wxhost.mpper.ImageMapper">


    <select id="getHomeImg" resultType="com.olanboa.wxhost.bean.httpreq.HomeImgDb">

      select  h.state state , h.path imgPath, h.id id from  homeImg h where  h.state = 0

    </select>


    <insert id="addHomeImg" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">

        <if test="list != null">
            INSERT INTO homeImg(path,state) VALUES
            <foreach item="item" collection="list" separator=",">
                <if test="item.imgPath != null and item.imgPath != ''">
                    ("${item.imgPath}",0)
                </if>
            </foreach>
        </if>

    </insert>


    <update id="updateHomeImg" parameterType="com.olanboa.wxhost.bean.httpreq.HomeImgDb">

        UPDATE homeImg SET id =id

        <if test="data.imgPath != null and data.imgPath != ''">
            , path = "${data.imgPath}"
        </if>


        <if test="data.state != null">
            , state = #{data.state}
        </if>

        where id = #{data.id} and state = 0
    </update>


</mapper>