<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.olanboa.wxhost.mpper.OrderCostMapper">

    <insert id="addOrderCost"
            useGeneratedKeys="true"
            keyProperty="orderCostId">

        INSERT INTO orderCost (orderId,costTypeId,price) VALUES
        <foreach item="item" collection="orderCostDbList" separator=",">
            ( #{orderId},#{item.costTypeId},#{item.price})
        </foreach>

    </insert>


    <select id="getOrderCost" parameterType="java.lang.Integer"
            resultType="com.olanboa.wxhost.bean.httpresult.OrderCostRes">


                    SELECT oC.price price, cT.typeName  costName

                    FROM `order`  o

                     LEFT JOIN  orderCost oC ON oC.orderId  = o.id

                     LEFT JOIN costType cT ON cT.id = oC.costTypeId

                    WHERE o.id = ${orderId}  AND o.state = 0



    </select>

</mapper>