<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.olanboa.wxhost.mpper.OrderDevsMapper">

    <insert id="addOrderDevs"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO orderDevs (orderId,sellPrice,roomTypeId,`count`,devId) VALUES
        <foreach item="item" collection="devsDbList" separator=",">
            (#{orderId},#{item.sellPrice},#{item.roomTypeId},#{item.devCount},#{item.devId})
        </foreach>

    </insert>


    <select id="getOrderDevList" parameterType="java.lang.Integer"
            resultType="com.olanboa.wxhost.bean.httpresult.OrderDevRes">


                SELECT
                    oD.id oDevId,
                    dT.devTypeName dTypeName,
                    d.devName dName,
                    d.devIcon dIcon,
                    d.`desc` devDesc,
                    oD.count sellCount,
                    oD.sellPrice sellPrice,
                    d.price price ,
                    rT.roomName dRoomName

                FROM
                    orderDevs oD
                    LEFT JOIN devs d ON oD.devId = d.id
                    LEFT JOIN devType dT ON dT.id = d.devTypeId
                    LEFT JOIN roomType  rT ON rT.id = oD.roomTypeId
                WHERE
                    oD.orderId = 14

                    ORDER BY oD.roomTypeId DESC


    </select>


</mapper>