<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.olanboa.wxhost.mpper.OrderMapper">

    <insert id="addOrder" parameterType="com.olanboa.wxhost.bean.BaseOrderDb" useGeneratedKeys="true"
            keyProperty="orderId">

                INSERT INTO `order`
                    ( userBuyId, userSellerId, sellerShopId, houseTypeId, addr , state, `timeStamp` )
                VALUES
                    ( #{buyerId}, #{sellerId}, #{shopId}, #{houseTypeId},"${address}", 0, UNIX_TIMESTAMP() )
    </insert>


    <select id="getOrderItem" parameterType="java.lang.Integer"
            resultType="com.olanboa.wxhost.bean.BaseOrderDb">
                    SELECT
                        id orderId,
                        userBuyId buyerId,
                        userSellerId sellerId,
                        sellerShopId shopId,
                        houseTypeId houseTypeId,
                        `timeStamp` creatTime,
                        addr address
                    FROM
                        `order` o
                    WHERE
                        o.state = 0 AND o.id = #{orderId};
    </select>

</mapper>