<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.olanboa.wxhost.mpper.ShopMapper">


    <insert id="addShopMapper"
            parameterType="com.olanboa.wxhost.bean.ShopInfo"
            useGeneratedKeys="true"
            keyProperty="shopId">

        INSERT INTO shops
        (shopName,
        address,
        province,
        hostid,
        `desc`,
        shopIcon,
        state)
        VALUES
        ("${shopName}",
        "${address}",
        "${province}",
        #{hostid},
        "${desc}",
        <choose>
            <when test="shopIcon == null or shopIcon == ''">
                "",
            </when>

            <otherwise>
                "${shopIcon}",
            </otherwise>
        </choose>
        0)


    </insert>

    <update id="updateShop" parameterType="com.olanboa.wxhost.bean.ShopInfo">


        update shops set id = id


        <if test="shopName != null and shopName !=''">

            ,shopName = "${shopName}"

        </if>

        <if test="address != null and address !=''">

            ,address = "${address}"

        </if>


        <if test="province != null and province !=''">

            ,province = "${province}"

        </if>


        <if test="hostid != null ">

            ,hostid = #{hostid}

        </if>

        <if test="state != null ">

            ,state = #{state}

        </if>


        <if test="desc != null and desc !=''">

            ,desc = "${desc}"

        </if>


        <if test="shopIcon != null and shopIcon !=''">

            ,shopIcon = "${shopIcon}"
        </if>

        where id = #{shopId} and state = 0

    </update>


    <select id="getShopInfo" resultType="com.olanboa.wxhost.bean.ShopInfo">

      SELECT  id shopId,shopName ,address  ,province ,hostid ,shopIcon ,`desc` FROM shops WHERE id= #{shopId} AND state = 0

    </select>


    <select id="getShopList" resultType="com.olanboa.wxhost.bean.ShopInfo">

        SELECT id shopId,shopName ,address ,province ,hostid ,shopIcon ,`desc` FROM shops WHERE state = 0

        <if test="province != null and province != ''">
            AND province LIKE CONCAT ("%","${province}","%")
        </if>

        <if test="shopId != null ">
            AND id = #{shopId}
        </if>


    </select>


    <insert id="addShopImg" keyProperty="id" useGeneratedKeys="true">

        insert into shopImg(shopId,img) values

        <foreach item="item" collection="shopImgDbList" separator=",">
            (#{shopId},#{item.shopImg})
        </foreach>
    </insert>


    <select id="getShopImgs" parameterType="java.lang.Integer" resultType="com.olanboa.wxhost.bean.ShopImgDb">

            select id ,shopId,img shopImg from  shopImg where  shopId = #{shopId}
    </select>


</mapper>