<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <package name="com.olanboa.wxhost.bean"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis-mapper/HomeMapper.xml"/>
        <mapper resource="mybatis-mapper/BannerMapper.xml"/>
        <mapper resource="mybatis-mapper/ImageMapper.xml"/>
        <mapper resource="mybatis-mapper/ShopMapper.xml"/>
        <mapper resource="mybatis-mapper/UserMapper.xml"/>
        <mapper resource="mybatis-mapper/OrderMapper.xml"/>
        <mapper resource="mybatis-mapper/CostMapper.xml"/>
        <mapper resource="mybatis-mapper/OrderCostMapper.xml"/>
        <mapper resource="mybatis-mapper/OrderDevsMapper.xml"/>
        <mapper resource="mybatis-mapper/HouseMapper.xml"/>
        <mapper resource="mybatis-mapper/OrderRoomMapper.xml"/>
        <mapper resource="mybatis-mapper/ExampleMapper.xml"/>
    </mappers>

</configuration>